.input {
  background: none;
  /* border: 1px solid #423f3f; */
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  padding: 20px;
}

.invalid {
  border: 1px solid red;
  /* background: rgb(113, 13, 13); */
}
