:root {
  --font: 'Open Sans', sans-serif;
  --primary-color: #fe724c;
  --primary-hover-color: #b54d30;
  --base-color: #ffffff;
  --text-color: #000000;
  --text-secondary-color: #5b5b5e;
  --text-gray-color: #a1a1a9;
  --separator-color: #b5b8c5;
  --white-color: #dfe3f3;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #454549;
  margin: 0;
}
